blackhole/.godot/
blackhole/.godot/*

blackhole/.import/
blackhole/export.cfg
blackhole/export_presets.cfg

blackhole/_export/
*.blend1
.DS_Store
*.tmp
*.bak
*.swp
Thumbs.db
Desktop.ini
*.lnk
.vscode/
.idea/
*.sublime-project
*.sublime-workspace 
